# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

GuiClaimsDataImport/Platforms/
*.proj.Backup.tmp


# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*


# Local History for Visual Studio Code
.history/

# Windows Installer files from build outputs
*.cab
*.msi
*.msix
*.msm
*.msp
data.db
cookies.txt
cookies_debug.txt
